<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="js/jquery-ui/js/jquery-1.9.1.js"></script>
        <script src="js/jquery-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="js/jquery.nfq.likeButton.js"></script>
        {% endblock %}
    </body>
</html>
