{% extends "::base.html.twig" %}

{% block body %}
    <div class="login_wrapper">
        <div style="text-align: center">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}